<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body class="ordine">
    <button class="buttonback">
        Torna alla Home
        <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
        <path
            clip-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
            fill-rule="evenodd"
        ></path>
        </svg>
    </button>
    <div class="ordine" style="display:<%= successo %>;">
        <img src="./images/successo.png" alt="confermato">
        <h1>Ordine avvenuto con successo</h1>
    </div>
    <div class="ordine" style="display:<%= errore %>;">
        <img src="./images/errore.png" alt="errore">
        <h1>C'è stato un problema con il tuo ordine</h1>
    </div>
    <script>
        $(function(){
            $('.buttonback').click(function(){
                window.location.href = '/'
            })
        })
    </script>
</body>
</html>