<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<body class="container">
  <ul>
      <li><img src="./images/logo.png" alt="logo" class="logo"></li>
      <li><a href="/">Home</a></li>
      <li><a href="forno" class="activepage">Forno</a></li>
      <li style="float:right">
        <button class="animated-button">
          <span>Preordina</span>
          <span></span>
        </button>
      </li>
  </ul>
  <div class="row">
    <div class="center">
      <img src="./images/forno.png" alt="forno">
    </div>
    <div class="center">
      <div class="card">
        <h2>Il primo forno che cucina per te!</h2>
      </div>
    </div>
  </div>


  <div class="center">
    <div class="card4">
      <!-- <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"></path></svg> -->
      <h1>Come funziona?</h1>
      <div class="card__content">
        <p class="card__description">L'intelligenza artificiale presente nel nostro forno è in grado di impostare tempo, temperatura e modalità di cottura in base a cosa metti nel forno! Può essere anche controllato a distanza tramite l'applicazione per avere il tuo piatto caldo pronto quando arrivi a casa!</p>
      </div>
    </div>
  </div>

  <div class="pre-progress">
    <h1>Quando sarà disponibile?</h1>
    <p>Al raggiungimento di 100 preordini inizieremo ufficialmente la spedizione dei nostri prodotti!<br>Qui sotto puoi controllare lo stato dei preordini</p>  
  </div>
  <div class="progress" style="--progress:<%= percentuale %>%">
    <div class="bar">
      <div class="progress-value"></div>
    </div>
  </div>
  <div class="center">
    <button class="animated-button">
      <span>Preordina</span>
      <span></span>
    </button>
  </div>
    
      
    


  <footer class="footer">
    <div class="info center"><p>Gestisci i cookie</p>
      <p>Contattaci</p>
      <p>Politiche di privacy</p>
      <p>Politiche di reso</p>
      <p>Garanzia</p>
    </div>
    <div class="center logo">
      <img src="./images/logo.png" alt="logo">
    </div>
  </footer>
  <script>
    $(function(){
      $('.animated-button').click(function(){
        window.location.href = 'preordina'
      })
    })
  </script>
</body>
</html>